.container
  margin-top: 3rem
  display: flex
  justify-content: center

.slider
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px
  width: 60vw
  height: calc(60vw/1.77) 
  min-height: 100px
  min-width: 177px
  overflow: hidden
  display: flex
  position: relative
  align-items: center 
  user-select: none
  img
    position: absolute
    object-fit: cover
    height: 100%
    width: 100%

._active
  z-index: 3
  &.right
    animation: RightToCenter 1s ease forwards
  &.left
    animation: leftToCenter 1s ease forwards


._prev
  z-index: 2
  &.right
    animation: centerToLeft 1s ease forwards
  &.left
    animation: centerToRight 1s ease forwards

.btn_left, .btn_right
  position: absolute
  z-index: 10
  cursor: pointer
  transition: 0.3s
  &:hover
    color: #fff
  svg
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.6))
  &:active
    svg
      filter: drop-shadow(2px 3px 1px rgb(0 0 0 / 0.9))

.btn_left
  left: 0

.btn_right
  right: 0 



.description
  max-width: 700px
  margin: 0 auto
  margin-bottom: 8rem
  p
    padding: 2rem 1rem
    max-width: 700px
    position: absolute
  
.appear
  opacity: 1
  transition: 1s

.hide
  opacity: 0
  transition: 1s


@keyframes RightToCenter
  from
    transform: translateX(100%)
  to
    transform: translateX(0)

@keyframes centerToLeft
  from
    transform: translateX(0)
  to
    transform: translateX(-100%)


@keyframes leftToCenter
  from
    transform: translateX(-100%)
  to
    transform: translateX(0)

@keyframes centerToRight
  from
    transform: translateX(0)
  to
    transform: translateX(100%)


@media screen and (max-width: 576px) 
  .slider
    width: 95vw
    height: calc( 95vw /1.77 )
  .description
    margin-bottom: 10rem
