.btn
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  cursor: pointer
  font-size: 1.5rem
  padding: .5rem 1rem
  border: 2px solid #000
  background-color: rgba(0,0,0,1)
  color: #fff
  transition: .3s
  &:hover
    background-color: rgba(0,0,0,.85)
  span
    user-select: none
  &.white
    background-color: #fff
    color: #000
    &:hover
      background-color: #000
      color: #fff
      border-color: #fff 
