.container
  z-index: 99
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  left: 0
  right: 0
  top: 0
  bottom: 0
  background-color: rgba(0, 0, 0, 0.6)


.lightbox
  z-index: 100
  width: 90vw
  height: auto
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px

.close_btn
  position: absolute
  top: 5px
  right: 15px
  color: #000
  font-size: 4rem
  cursor: pointer
  transition: .3s
  &:hover
    color: #fff

@media screen and (max-width: 576px) 
  .lightbox
    width: 95vw
