.container
  display: flex
  justify-content: center

.categories
  position: relative
  // display: flex
  // flex-wrap: wrap
  // gap: 1rem
  // row-gap: 2rem
  // justify-content: center
  display: grid
  grid-template-columns: max-content max-content max-content max-content
  column-gap: 1rem
  row-gap: 2rem

.edit_panel
  top: -3rem !important

.card_editpanel
  position: relative

@media screen and (max-width: 1342px) 
  .categories
    grid-template-columns: max-content max-content max-content
  
@media screen and (max-width: 1000px) 
  .categories
    grid-template-columns: max-content max-content

@media screen and (max-width: 680px) 
  .categories
    grid-template-columns: max-content

@media screen and (max-width: 420px) 
  .card
    width: 220px
    height: 350px
  